
/* MOBILE */


body {
  box-sizing: border-box;
  margin: 0 auto;
  padding:10px;
  max-width: 320px;
  font-family: arial;
}

 header {
    display: flex;
    justify-content: space-between;
    padding-top: 0; 
    align-items: center;
}

    img { 
        height: auto;
        width: 53px;
    }

    search > svg {
        width: 35px;
        height: 35px;
    } 


    nav {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
    }

    .ham-menu {
        height: 40px;
        width: 40px;
        position: relative;
    }

       .ham-menu span {
        height: 4px;
        width: 100%;
        background-color: #1d194e;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
    }

        .ham-menu span:nth-child(1) {
        top: 25%;
        }

        .ham-menu span:nth-child(3) {
        top: 75%;
        }

    .off-screen-menu {
        max-width: 402px;
        background-color: #1d194e;
        color: #FEB51E;
        width: 100%;
        max-width: 300px;
        height: 500px;
        position: fixed;
        top: 0;
        right: -350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        font-size: 20px;
        transition: 1s ease;
    }

        ul {
        list-style: none;
        }

   

    /* main */

    .paginas {
        margin-top: 50px;
        font-size: 14px;
        color: #A3A2B7;
        text-decoration: none;
    }

    .pageactive {
        color:#1D194E;
        font-weight: bold;
    }

        .paginas a {
            color: #A3A2B7;
            text-decoration: none;
            }   
    
            .paginas a:visited {
                color: #A3A2B7;
                text-decoration: none;
            }

            .paginas a:hover {
                color: #A3A2B7;
                text-decoration: underline;
                text-decoration-color: #A3A2B7;
                text-underline-offset: 1px;
            }


    .search {
        margin-top: 40px;
        width: max-content;
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid lightgrey;
        gap:10px;
    }

        .material-symbols-outlined {
        color: lightgrey;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
        }

        .search-input::placeholder,
        .material-symbols-outlined {
        color: lightgrey;
        }

        .search-input {
            font-size: 15px;
            outline: none;
            border: none;
            flex:1;
            width: 210px;
        }

        .search .fotosearch {
            width: auto;
            height: 25px;
            color: lightgrey;
        }


.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    column-gap: 10px;
    row-gap: 20px;
}

    .categories a, a:visited {
        text-decoration: none;
        color: #1D194E;
        font-size: 13px;
        text-align: center;
        justify-items: center;
    }

    .categorie {
        display: flex;
        width: 90px;
        height: 120px;
        justify-items: center;
    }

        .categorie img {
            height: 70px;
            width: auto;
        }

        .categorie1 {
            text-decoration: underline;
            text-decoration-color:#4FBBC2;
            text-decoration-thickness: 1.5px;
        }

       .categorie2 {
            text-decoration: underline;
            text-decoration-color:#F96C4F;
            text-decoration-thickness: 1.5px;
        }

       .categorie3 {
            text-decoration: underline;
            text-decoration-color:#B48EBA;
            text-decoration-thickness: 1.5px;
        }

       .categorie4 {
            text-decoration: underline;
            text-decoration-color:#B0B64C;
            text-decoration-thickness: 1.5px;
        }

       .categorie5 {
            text-decoration: underline;
            text-decoration-color:#BD364E ;
            text-decoration-thickness: 1.5px;
        }

       .categorie6 {
            text-decoration: underline;
            text-decoration-color:#2F739B;
            text-decoration-thickness: 1.5px;
        }


    .categorieblok {
        margin-top: 50px;
    }    

        .categoriedeel {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
        }

        .categorietitel1 {
            background-color: #4FBBC2;
            color: white;
            font-size: 15px;
            height: 40px;
            margin-bottom: 20px;

            display: flex;
            align-items: center;    
            justify-content: center;   

        }


        .categorietitel2 {
            background-color: #F96C4F;
            color: white;
            font-size: 15px;
            height: 40px;
            margin-bottom: 20px;
            /* text-align: center; */
            
            display: flex;
            align-items: center;    
            justify-content: center;   
             }

            .categoriedeel article {
            margin-top: 15px;
            }

            .categoriedeel img {
            width: 145px;
            }

        .categoriedeel h3 {
        font-size: 11px;
        margin-top: 0px;
        margin-bottom: 5px;
        }


            .categoriedeel article:nth-of-type(7) {
                grid-column: 1 / -1;
            }

            .categoriedeel article:nth-of-type(7) img {
                width: 100%;
            }


            .categoriedeel article:nth-of-type(10) {
                grid-column: 1 / -1;
            }

            .categoriedeel article:nth-of-type(10) img {
                width: 100%;
            }

    }

    .search .fotosearch {
        width: auto;
        height: 25px;
        color: lightgrey;
    }
