
/* MOBILE */

* {
  box-sizing: border-box; 
}

/* IN DE HOME PAGINA */
    /* Voor de link in de home. Het gaat weg */
    .home {
    color: red;

        a:visited {
        color: red;
        }
    }

     
/* TEKENMETHODES PAGINA */

/* Dit is voor de hele pagina voor alle devices */
body {
margin: 0 auto;
padding:10px 0px 0px 0px;
max-width: 80%;
font-family: "rigid-square", sans-serif;
font-size: 16px;
line-height: 1.4;

    @media (min-width: 768px){
        max-width:80%;
    }

        @media (min-width: 1024px){
            max-width: 80%;
        }
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

        @media (min-width: 1024px){
            margin-left: -170px;
            margin-right: -170px;
            height: 100px;
            border-bottom: 1px solid #D1D0DB;
        }

    /* Dit is het logo foto in de header */
    img { 
        height: auto;
        width: 50px;

            @media (min-width: 1024px){
                height: auto;
                width: 70px;
            }
    }

    /* Linkerkant van de header met logo en navigatiemenu op desktop */
    .leftheader {
        margin-left: 0px;

            @media (min-width: 1024px){
            margin-left: 170px;
            display: flex;
            gap: 30px;
            }

          /* Navigatiemenu van desktop verbergen */
            .navdesktop {
                display: none;

                @media (min-width: 1024px){
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
            }

            /* Styling van de button in navigatiemenu */
            button {
                background-color: transparent;
                border: none;
                display: flex;
                gap: 10px;
                font-size: 16px;
                color: #1D194E;
            }    

                button:hover {
                    text-decoration: underline;
                }
        }
        
    /* Dit is icon search en hamburger menu */
    .icoontjes {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
       
        @media (min-width: 1024px){
            align-items: center;
            gap: 30px;
            margin-right: 170px;
        }
    
        /* Icon search is zichtbaar op mobile */
        .searchicon {
        display: block;
        height: 25px;
        width: 25px;
        }

        /* Zorgt ervoor dat 2 icoontjes verborgen staan op mobile die in desktop versie staan */
        img {
            display: none;

             @media (min-width: 1024px){
                display: block;
                width: 25px;
                height: 25px;
             }

        }

        /* Button in de desktop versie verbergen */
        button {
        display: none;

            @media (min-width: 1024px){
                background-color: #FEB51E;
                color: #1D194E;
                width: 180px;
                height: 45px;
                font-size: 14px;
                display: block;
                border: transparent;
            }
        }

            @media (min-width: 1024px){
            button:hover, 
            a:hover {
                background-color: #d18b0a;
                color: white;
                text-decoration: none;
                transform: translateY(-2px); 
                transition: transform 0.2s ease;
                }  
            } 
    }
   
    /* Dit is de hamburger menu op mobile en tablet  */
    .ham-menu {
        height: 30px;
        width: 30px;
        position: relative;

        @media (min-width: 1024px){
            display: none;
        }

        svg {
            color: #1d194e;
            fill: currentColor;
        }
    }
}


    

/* MAIN */

    /* Dit is voor het stukje met de pagina's bovenaan */
    .paginas {
        margin-top: 40px;
        font-size: 14px;
        color: #A3A2B7;

            @media (min-width: 1024px){
                margin-top: 90px;
            }

        /* Dit is voor de tekst home, want die is klikbaar met een hover */
        a, a:visited {
            color: #A3A2B7;
            text-decoration: none;
        }    

            a:hover {
                color:#A3A2B7 ;
                text-decoration: underline;
                text-decoration-color: #A3A2B7;
                text-underline-offset: 1px;
            }

        /* Voor de huidige pagina waar je op kijkt */
        .pageactive {
            color:#1D194E;
            font-weight: bold;
        }
    }

    /*  De titel van de pagina */
    h1 { 
        margin-top: 40px;
    }

    /* Dit is voor de hele search balk */
    .search {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 11px 10px 10px 10px;
        border: 1px solid #D1D0DB;
        gap:10px;

            /* Dit is de zoekbalk waar je kunt typen */
            .search-input {
                font-size: 16px;
                outline: none;
                border: none;
                flex-grow:1;
            }

            /* Voor de search icon */
            .searchicon2 {
                width: auto;
                height: 25px;
                color: #D1D0DB;
                fill: currentColor;
            }

                /* Voor de kleur van de zoekbalk tekst en search icon */
                .search-input::placeholder {
                    color: #D1D0DB;
                }

            /* Dit is de foto search icon foto */
            .fotosearch {
                width: auto;
                height: 25px;
                color: #D1D0DB;
            }
    }

         
    /* Dit zijn de tekenmethodes/categorieen filter container */
    .methodes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 30px;
        gap: 20px;

            @media (min-width: 768px){
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                margin-top: 30px;
                gap: 20px;
            }

            @media (min-width: 1024px){
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 30px;
                column-gap: 50px;
            }

        /* Dit is voor de filter icon  */
        .categorie {
            display: flex;
            justify-content: center;

            /* Dit is voor de filter icon foto */
            img {
                height: 70px;
                width: auto;
            }
        }

        /* Dit is voor de categorieen/methodes met foto en tekst */
        .categorie0 {
            display: flex;
            flex-direction: row;
            width: 90px;
            height: auto;
            justify-content: center;

            /* Dit is de tekst bij de categorie */
            span {
                color: #1D194E;
            }

             /* Dit is de foto bij de categorie */
            img {
                height: 70px;
                width: auto;
            }
        }

        /* Dit is de styling voor de tekst underline van alle tekenmethodes */
        .categorie1 {
            text-decoration: underline;
            text-decoration-color:#4FBBC2;
            text-decoration-thickness: 1.5px;
        }

        .categorie2 {
            text-decoration: underline;
            text-decoration-color:#F96C4F;
            text-decoration-thickness: 1.5px;
        }

        .categorie3 {
            text-decoration: underline;
            text-decoration-color:#B48EBA;
            text-decoration-thickness:1.5px;
        }

        .categorie4 {
            text-decoration: underline;
            text-decoration-color:#B0B64C;
            text-decoration-thickness: 1.5px;
        }

        .categorie5 {
            text-decoration: underline;
            text-decoration-color:#BD364E ;
            text-decoration-thickness: 1.5px;
        }

        .categorie6 {
            text-decoration: underline;
            text-decoration-color:#2F739B;
            text-decoration-thickness: 1.5px;
        }


        /* Dit is voor de link van de methodes */
        a, a:visited {
            text-decoration: none;
            font-size: 13px;
            text-align: center;
            justify-items: center;
        }

            a:hover {
                border: 0.5px solid #feb31eb6;
            }
    }

        
    /* Dit is blok voor de tekenmethode  */
    .categorieblok {
        margin-top: 50px;
        
        /* Dit is voor de titels van de methodes blok */
            .categorietitel1 {
            background-color: #4FBBC2;
            color: #F3F3F6;
            font-size: 16px;
            height: 40px;

            display: flex;
            align-items: center;    
            justify-content: center;  


            @media (min-width: 1024px){
                font-size: 16px;
            }
        }

        .categorietitel2 {
            background-color: #F96C4F;
            color: #F3F3F6;
            font-size: 16px;
            height: 40px;
            
            display: flex;
            align-items: center;    
            justify-content: center;  
            
            @media (min-width: 1024px){
                font-size: 18px;
            }
        }

        /* In dit staat het overzicht van categorieen met info over de methodes ofzo en de tekst */
        .categoriedeel {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;

            @media (min-width: 768px){
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

                @media (min-width: 1024px){
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }

            /* In het categorien deel staan artikelen met de foto en tekst */
            article {
                margin-top: 15px;

                /* Foto in de article */
                img {
                    width: 100%;
                }

                /* De tekst in de artikel */
                h3 {
                font-size: 12px;
                margin-top: 0px;
                margin-bottom: 5px;
                font-weight: bold;
                color: #1D194E;

                @media (min-width: 768px){
                        font-size: 16px;
                    }

                    @media (min-width: 1024px){
                        font-size: 16px;
                    }
                }
            }


            /* Dit is om 2 onderdelen in het deel over 2 kolommen te doen    */
            article:nth-of-type(1) {
                grid-column: 1 / -1;
            }

            article:nth-of-type(4) img {
                height: auto;

                @media (min-width: 1024px){
                    height: 90%;
                }
            }
            
            article:nth-of-type(8) {
                grid-column: 1 / -1;

                @media (min-width: 768px){
                    grid-column: 3 / -1;
                    grid-row: 3 / 5;
                }

                @media (min-width: 1024px){
                    grid-column: 3 / -1;
                    grid-row: 3 / 5;
                }
            }

            article:nth-of-type(8) img {
                height: auto;

                @media (min-width: 768px){
                    height: 86%;
                }

                @media (min-width: 1024px){
                height: 95%;
                }
            }

            article:nth-of-type(11) {
                grid-column: 1 / -1;

                @media (min-width: 768px){
                    grid-column: 1 / 3;
                }

                @media (min-width: 1024px){
                    grid-column: 1 / 3;
                }
            }

            article:nth-of-type(11) img {
                height:auto;

                @media (min-width: 768px){
                height: 95%;
                }

                @media (min-width: 1024px){
                height: 95%;
                }
            }
        }
    }    


    /* Dit is de paginanummering zodat je naar meer methodes kan switchen        */
    .paginanummer ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        color: #A3A2B7;
        font-size: 14px;
        padding: 0;
        margin-top: 50px;
        width: 100%;
        list-style: none;

            @media (min-width: 1024px){
                font-size: 16px;
                margin-top: 50px;
            }

        /* Dit is voor de link dat je naar een andere pagina kan */
        a, a:visited {
            text-decoration: none;
            color: #A3A2B7;
        }        

            a:hover {
                color: #A3A2B7;
                text-decoration: underline;
                text-decoration-color: #A3A2B7;
                text-underline-offset: 1px;
            }

        /* Voor de active pagina waar je nu op zit */
        .activepage {
            color:#1D194E;
        }
    }

            

/* FOOTER */

    footer {
        background-color: #1D194E;
        position: absolute;
        left: 0;
        margin-top: 80px;

        @media (min-width: 768px){
            position: absolute;
            width: 100%;
        }

         @media (min-width: 1024px){
            position: absolute;
            width: 100%;
        }

         /* Dit is het logo in footer */
        .logo {
            width: 160px;            
        }

        /* De social icons */
        .socialicons {
            margin-top: 20px;
            display: flex;
            gap: 15px;

            /* Foto van de social icons */
                img {
                    width:45px;
                    height: 45px;
                }
            }

        /* Hierin staat alle content van de footer */
        .footercontent {
            padding-top: 80px;
            padding-bottom: 50px;
        }

        /* De bovenkant content van de footer - logo en social icons */
        .footerheader {
            justify-content: center;
            display: grid;
            row-gap: 10px;

            @media (min-width: 1024px){
                row-gap: 10px;
                position: absolute;
                left: 210px;
            }
        }

        /* Het menu in de footer op mobile       */
        .menufooter {
            display: flex;
            flex-direction: column;
            max-width: 80%;
            margin: 70px auto;
            box-sizing: border-box;
            gap: 30px;
            cursor: pointer;

                @media (min-width: 768px){
                    max-width: 70%;
                }

                @media (min-width: 1024px){
                    display: none;
                }

            /* Het menu in een summary */
            summary {
                color: #FEB51E;
                font-size: 23px;
                font-weight: bold;
                list-style: none;
                display: flex;
                justify-content: space-between;

                /* Dit is voor het icoontje naast de summary */
                svg {
                    color: #FEB51E;
                    fill: currentColor;
                    width: 25px;
                    height: auto;
                }
            }

            /* Dit is voor de tekst in de details */
            details {
            font-size: 16px;
            color: #F3F3F6;
            }

            /* De link in de details die naar een pagina gaat */
            a, a:visited {
            color: #F3F3F6;
            text-decoration: none;
            }

                a:hover {
                color: #D1D0DB;
                text-decoration: underline;
                }
        }      

        /* De menu in de footer van desktop */        
        .menufooterdesktop {
            display: none;

             @media (min-width: 1024px){
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                position: absolute;
                right: 210px;
                gap: 80px;

                h3 {
                    color: #FEB51E;
                }

                p {
                    color: #F3F3F6;
                }

                /* De link in de details die naar een pagina gaat */
                a, a:visited {
                color: #F3F3F6;
                text-decoration: none;
                }

                    a:hover {
                    color: #D1D0DB;
                    text-decoration: underline;
                    }
            }
        }


        /* Het onderste content gedeelte van de footer */
        .footerend {
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 70px;
            text-align: center;
            color: #F3F3F6;

                @media (min-width: 1024px){
                    padding: 0 200px;
                    gap: 170px;
                    margin-top: 350px;
                    display: flex;
                    justify-content: space-between;
                }

            /* Dit is voor de copyright tekst */
            p {
                white-space: pre-line;

                @media (min-width: 768px){
                    white-space: normal;
                }

                @media (min-width: 1024px){
                    white-space: normal;
                }
            }  

            /* Voor de onderste 3 stukjes tekst */
            .ondermenu {
                display: flex;
                gap:50px;

                @media (min-width: 768px){
                    gap:150px;   
                }

                @media (min-width: 1024px){
                    gap:50px;   
                }

            }
        }
    }